{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <style>
        .poll {
            border: 2px solid;
            padding:15px;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .no-underline {
            text-decoration: none;
            color:#231e33;
        }
        .no-underline:hover {
            text-decoration:wavy;
            color:#939197;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}


<br>

<div class="container">
    <div class="row">
    {% for poll in polls %}
    
    <div class="col-md-6">
        <div class="poll">
            <a class='no-underline' href="{% url 'poll' poll.id %}">
            <h1>{{poll.poll_name}}</h1>
            <p>{{poll.description}}</p>
            </a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<br>
<br>
<hr>
<div class="container d-flex justify-content-center">
    <div class="col-8">
        
        <p class="text-center h2">My Polls</p>
        <hr>
        <div class="row">
        {% for mypoll in mypolls %}
        <div class="col-8">
            {{mypoll.poll_name}}
        </div>



        <div class = "col-4 mx-auto">
        <a href="{% url 'result' mypoll.id %}"" class="no-underline btn btn-sm btn-success" >
            View</a>
        <a href="{% url 'updatepoll' mypoll.id %}"" class="no-underline btn btn-sm btn-primary" >
                Update</a>
        <a href="{% url 'deletepoll' mypoll.id %}"" class="no-underline btn btn-sm btn-danger" >
                    Delete</a>
        </div>

        <hr>
        {% endfor %}
    </div>
    </div>
</div>


<script src="{% static './js/all.js' %}"></script>
    <script src="{% static './js/jquery-3.5.1.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>