{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <style>
        .poll {
            border: 2px solid;
            padding:15px;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .no-underline {
            text-decoration: none;
            color:#231e33;
        }
        .no-underline:hover {
            text-decoration:wavy;
            color:#939197;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}


<br>

<div class="container-fluid">
    <div class="row">
    {% for poll in polls %}
    
    <div class="col-md-6">
        <div class="poll">
            <a class='no-underline' href="{% url 'poll' poll.id %}">
            <h1>{{poll}}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eum cum pariatur eius? Vero, harum ullam sint sunt eligendi ipsam.</p>
            </a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>



<script src="{% static './js/all.js' %}"></script>
    <script src="{% static './js/jquery-3.5.1.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>