{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Update Poll
        {% endblock %}
    </title>
</head>
<body>
    {% include 'nav.html' %}
    <br>
    <div class="container text-center">
        <div class="h4">Add Options</div>
    </div>
    <div class="container col-6 form d-flex justify-content-center p-4">
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <br>
</body>
</html>